html {
  box-sizing: border-box;
  height: 100%;
}

body {
background-color: mistyrose;
}


html,
body {
  margin: 0;
  padding: 0;
  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}


h2 {
  font-size: 1.1em;
  font-family: Luminari;
  color: palevioletred;
}

#contenedor {
  margin: auto 1em;
  text-align: center;
}

#tituloPagina {
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: Luminari;
  color: palevioletred;
}

#foto {
height: 600px;
margin-top: 15px;
margin-bottom: 15px;
}

.tituloPrediccion {
  font-size: 2em;
}

.prediccion {
  font-size: 1.5em;
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 0.9em;
  background-color: palevioletred;
  font-family: Luminari;
  color: white;
  margin-bottom: 2em;
  cursor: pointer;
}